Repository Arduino-CI/arduino_ci, pull requests merged in 2019-01, with the labels that each got.

#95 Expand pgm_read_... macros
  CHANGELOG.md
  cpp/arduino/avr/pgmspace.h
Labels: arduino mocks, bug

#98 Fix vendor_bundle? behavior in CppLibrary (no longer hard-code bundle location)
  CHANGELOG.md
  lib/arduino_ci/cpp_library.rb
Labels: bug, rubygem

#96 Add support for unittest_setup and unittest_teardown functions
  SampleProjects/TestSomething/test/setup_and_treardown.cpp
  cpp/unittest/ArduinoUnitTests.cpp
  cpp/unittest/ArduinoUnitTests.h
Labels: enhancement, unittest libs
